.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 40px;
    width: 100%;
    max-width: 360px
}
.item{
    padding: 5%;
}
.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
