.header {
    display: grid;
    grid-template-columns:1fr 10fr 1fr ;
    background-color: lightgray;
    grid-area: h;
}

.header text{
    margin-top: 10px;
}

.avatar {
    margin-top: 8px;
    height: 40px;
}
.avatar button{
    height: 40px;
}